### 1. Display float number with 2 decimal places using print().

In [31]:
import math as m

pi = m.pi

print("2 decimal places of Pi using '%' : ", '%.2f' % pi)
print("2 decimal places of Pi using 'format()' : ", "{0:.2f}".format(pi)) 
print("2 decimal places of Pi using 'round()' : ", round(pi, 2))

2 decimal places of Pi using '%' :  3.14
2 decimal places of Pi using 'format()' :  3.14
2 decimal places of Pi using 'round()' :  3.14

### 2. Accept a list of float numbers as input from the user and display that.

In [7]:
list_1 = list(map(float, input().strip().split()))

2.34 1.2344 1.0 3.14 2.25 7.90

In [8]:
print(list_1)

[2.34, 1.2344, 1.0, 3.14, 2.25, 7.9]

### 3. Print the First n natural numbers using a while loop.

In [11]:
n = int(input("Enter the range : "))

i = 1
while i<=n:
    print(i,end=" ")
    i+=1

Enter the range : 10
1 2 3 4 5 6 7 8 9 10

### 4. Display numbers from -n to -1 using for loop.

In [19]:
n = int(input("Enter a range : "))
for i in range(n):
    print(-1*(n-i),"  ",end="")

Enter a range : 10
-10   -9   -8   -7   -6   -5   -4   -3   -2   -1

### 5. Count the total number of digits in a number.

In [14]:
n = int(input("Enter an integer number : "))
cnt = 0
i = n
while i>0:
    
    cnt += 1
    i = i//10

print(cnt)

Enter an integer number : 123456
6

### 6. Find the factorial of a given number.

In [23]:
n = int(input("Enter an integer number : "))

mul = 1
while n > 0:
    mul *= n
    n -= 1
    
print(mul)

Enter an integer number : 5
120

### 7. Number Pattern

In [29]:
n = int(input("Enter an integer number : "))

for i in range(1,n+1):
    for j in range(1,i+1):
        print(j," ",end="")
    print("")

Enter an integer number : 10
1
1  2
1  2  3
1  2  3  4
1  2  3  4  5
1  2  3  4  5  6
1  2  3  4  5  6  7
1  2  3  4  5  6  7  8
1  2  3  4  5  6  7  8  9
1  2  3  4  5  6  7  8  9  10